<div>
    <h1>Metadata Component preserveWhitespaces</h1>
    <p>This component demonstrates the use of metadata in Angular.</p>
    <p>preserveWhitespaces is a property that can be used to control the whitespace in the template.</p>
    <p>It is set to true in this component, which means that the whitespace will be preserved.</p>
    <p>For example, this text will not be trimmed:</p>
    <p>    This is a line with leading and trailing spaces.    </p>
    <p>And this is another line with spaces.</p>
    <div>
        <button>Add</button>
        <button>Subtract</button>
        <button>Reset</button>
    </div>
</div>