<div>
  <h1>Parent to Child Communication with Metadata</h1>
  <p>
    This component demonstrates how to pass data from a parent component to a
    child component using metadata.
  </p>

  <div>
    <p>Example:</p>
    <p style="color: blue">
      Value of Parent Component:
      <span style="font-weight: bold; color: green">
        @if(Pdata){
        {{ Pdata }} }@else { No data passed from parent }
      </span>
    </p>
    <p>
      In this example, the parent component passes data to the child component
      using metadata.
    </p>
  </div>
</div>
